*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 10px 20px;
    background-color: #2b3a46;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo{
    height: 100%;
  }

.logo-container{
    height: 100%;
}

 main{
      background-color: #192d3b;
      margin-top: 50px;
      min-height: calc(100vh - 50px);
      padding: 50px 0;    
}

  .my-card{
      height: 360px;
      background-color: #2b3a46 !important;
  }
  .my-text{
    color: white;
  }

  .my-title{
      color: #808080;
  }